* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkblue: #151A26;
    --white: #FFFFFF;
    --lightblue: #3657CB;
    --gray: gray;
    --lightgreen: #89CB36;
    --ligtred: #CB3F36;
    --lightyellow: #F2F60F;
    --veryDarkBlue: #1E2538;
    --lightbluemiddle: #3B486B;
    --darkBlack: #000;
    --lightWhite: #fff;
}

body {
    background: var(--darkblue);
    background-image: url('./src/assets/images/bodyImage.png');
    background-repeat: no-repeat;
    background-size: cover;
}

body.loading {
    overflow: hidden;
}

/* loader start */
#loader {
    position: fixed;
    inset: 0;
    background-color: var(--darkBlack);
    color: var(--lightWhite);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    text-align: center;
    transition: opacity 1s ease;
}

.loader-text h1 {
    font-size: 2.5rem;
    animation: fadeIn 2s ease-in-out infinite alternate;
}

.loader-text p {
    margin-top: 10px;
    font-size: 1.2rem;
    opacity: 0.7;
}

.projector-flash {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, #ffffff55 0%, transparent 70%);
    border-radius: 50%;
    animation: flash 1.5s ease-in-out infinite;
    margin-bottom: 30px;
}

@keyframes flash {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.3;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.8;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.4;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(5px);
    }
}

/* loader end */

/* header start */
header {
    background: var(--veryDarkBlue);
    position: fixed;
    width: 100%;
    padding: calc(1.87vw + 4px);
    /*40px 10px*/
    padding-top: calc(0.93vw + 7px);
    /*25px 10px*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(8.1vw - 6px);
    /* 150px 20px*/
    z-index: 1000;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 20px;
}

header.scrolled {
    background-color: #D9FADD;
}

#burgermenu {
    display: none;
}

header .logo {
    width: calc(2.06vw + 87.4px);
    /*127px  93px*/
    cursor: pointer;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

header nav ul li,
header nav ul li a,
a,
li {
    list-style: none;
    text-decoration: none;
}

header nav ul li a {
    font-family: 'Qanelas', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 100%;
    color: var(--white);
}

header nav ul li a:hover {
    color: var(--gray);
    transition: 0.4s;
}

header .search-auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

header .search-auth-container #searcher {
    width: calc(1.68vw + 22.6px);
    /* 55px 28*/
    height: 52px;
    cursor: pointer;
}

header .search-auth-container #auth {
    width: calc(5.4vw + 51.6px);
    /*138px 66px*/
    height: calc(1.62vw + 21.8px);
    /*53px 27px*/
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--lightblue);
    box-shadow: 0px 0px 15px 0px #4871FFCC;
    cursor: pointer;
    border: none;
    outline: none;
    font-family: 'Qanelas', sans-serif;
    font-weight: 700;
    font-size: calc(0.31vw + 10px);
    /*16px 11px */
    line-height: 167%;
    color: var(--white);

}

header .search-auth-container #auth:hover {
    background-color: #1E2538;
    transition: 0.7s;
}

@media (max-width:768px) {
    nav {
        display: none;
    }

    #burgermenu {
        display: block;
    }
}

/* header end */

section {
    padding: calc(1.25vw + 6px);
    /*30px 10px*/
}

/* hero start */

.hero {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
}

.hero-introduction-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-introduction-container h1,
h2 {
    font-family: 'Qanelas', sans-serif;
    font-weight: 900;
    font-size: calc(2.06vw + 25.4px);
    /*65px 32px*/
    line-height: 100%;
    color: var(--white);
}

.hero-introduction-container .line {
    width: 51.5px;
    border-width: 2px;
    border: 2px solid var(--white);
}

.hero-introduction-container .selection-of-genre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

@media (max-width:768px) {
    .hero-introduction-container .selection-of-genre {
        display: none;
    }
}

.hero-introduction-container .selection-of-genre li a {
    font-family: 'Qanelas', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: var(--white);
}

.now-in-cinemas-container {
    margin-top: calc(2.62vw + 12.6px);
    /*63px 21px*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(0.62vw + 10px);
    /*22px 12px*/
}

@media (max-width:768px) {
    .now-in-cinemas-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-introduction-container .line {
        display: none;
    }
}

.now-in-cinemas-block {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 15px;
}

.now-in-cinemas-block .raiting {
    top: 12px;
    right: 10px;
    position: absolute;
    width: calc(1.5vw + 33.2px);
    /*62px 38px*/
    height: calc(0.75vw + 18.6px);
    /*33px 21px*/
    border-radius: 5px;
    background-color: var(--lightgreen);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Qanelas', sans-serif;
    font-weight: 700;
    font-size: calc(0.375vw + 10.8px);
    /*18px 12px*/
    line-height: 100%;
    color: var(--white);

}

.now-in-cinemas-block img {
    width: 100%;
    border-radius: 10px;
}

.now-in-cinemas-block h3 {
    font-family: 'Qanelas', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    color: var(--white);
}

.now-in-cinemas-block span {
    font-family: 'Qanelas', sans-serif;
    font-size: 12px;
    line-height: 100%;
    color: red;
}

#show-more {
    display: block;
    margin: auto;
    margin-top: 51px;
    width: calc(2.5vw + 152px);
    /*200px*/
    height: calc(1.75vw + 37.4px);
    /*71px 43px*/
    border: 2px solid var(--white);
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Qanelas', sans-serif;
    font-weight: 700;
    font-size: calc(0.25vw + 13.2px);
    /*18px 14px*/
    line-height: 167%;
    color: var(--white);
}

/* hero end*/

/* trailers start */
.trailers-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trailers-container-introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.trailers-container-introduction h3 {
    font-family: 'Qanelas', sans-serif;
    font-weight: 900;
    font-size: calc(2.06vw + 25.4px);
    /*65px 32px*/
    line-height: 100%;
    color: var(--white);
}

@media (max-width:768px) {
    .trailers-container-introduction {
        justify-content: center;
    }

    .trailers-container-introduction h3 {
        text-align: center;
    }
}

#trailers-page {
    cursor: pointer;
    font-family: Qanelas;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;

}

.trailers-container-content {
    display: flex;
    flex-direction: column;

}

#fullscreen {
    width: 100%;
    height: calc(35.5vw + 82.2px);
    /*765px 196px*/
}

iframe {
    width: 100%;
    /* width: calc(10.25vw + 145.2px ); 342px 178px */
    height: calc(4.1vw + 164.6px);
    /*245px 178px*/
    border-radius: 10px;
}

.trailers-container-content-likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trailers-container-name {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}


.trailers-container-name h3 {
    font-family: 'Qanelas', sans-serif;
    font-weight: 900;
    font-size: calc(1.25vw + 21px);
    /*45px*/
    line-height: 100%;
    color: var(--white);
}

.trailers-container-name img {
    cursor: pointer;
}

.trailers-container-likes {
    display: flex;
    align-items: center;
    gap: 8px;
}

.trailers-container-likes div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-family: 'Qanelas', sans-serif;
    font-size: calc(0.375vw + 7.8px);
    /*15px 9px*/
    line-height: 100%;
    color: var(--white);
}


#like,
#dislike {
    width: calc(1.25vw + 24.4px);
    /*58px 30px*/
    cursor: pointer;
}

.overflow-trailers-container {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    /* или нужная ширина, но больше чем один iframe */
    padding-bottom: 10px;
    /* чтобы скроллбар не прилипал */
    scrollbar-width: thin;
    scrollbar-color: #3657CB transparent;
}

.overflow-trailers-block {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.overflow-trailers-container span {
    font-family: 'Qanelas', sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--white);
}

.overflow-trailers-container::-webkit-scrollbar {
    height: 6px;
}

.overflow-trailers-container::-webkit-scrollbar-track {
    background: transparent;
}

.overflow-trailers-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.overflow-trailers-block {
    flex: 0 0 500px;
    /* фиксированная ширина блока с видео */
}

/* trailers end */

/* film-cards-wrapper start */
.swiper {
    margin-top: calc(2.5vw + 15px);
    /*63px 15px*/
}

.swiper-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.film-cards-wrapper {
    margin-top: calc(2.25vw + 10.8px);
}

.popular-films {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popular-films .film-desc {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.popular-films .film-desc h3 {
    font-family: 'Qanelas', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: var(--white);
}

.popular-films .film-desc span {
    font-family: 'Qanelas', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    color: var(--lightyellow);
}

/* film-cards-wrapper end */


/* popular-faces-wrapper start */
.popular-faces-wrapper {
    margin-top: calc(2.25vw + 10.8px);
    /*54px 18px*/
    display: flex;
    flex-direction: column;
}

.popular-faces-container {
    margin-top: calc(2.56vw + 13.8px);
    /*63px 22px*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(0.75vw + 7.6px);
    /*22px 10px*/
    flex-wrap: wrap;
}

.popular-faces-inner-container {
    position: relative;
    display: flex;
    flex-direction: column;

}

.popular-faces-inner-container span {
    top: calc(0.43vw + 3.6px);
    /*12px 5px*/
    left: calc(0.5vw + 6.4px);
    /*16px 8px*/
    position: absolute;
    z-index: 1;
    font-family: 'Qanelas', sans-serif;
    font-weight: 500;
    font-size: calc(0.18vw + 11.4px);
    /*15px 12px*/
    line-height: 20px;
    color: var(--lightyellow);
}

.popular-faces-inner-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.people-info {
    position: absolute;
    bottom: calc(2.31vw - 7.4px);
    /*37px 0px*/
    left: calc(1.81vw + 1.2px);
    display: flex;
    flex-direction: column;
}

.people-info h3 {
    font-family: 'Qanelas', sans-serif;
    font-weight: 700;
    font-size: calc(0.875vw + 10.2px);
    /*27px 13px*/
    line-height: 100%;
    color: var(--white);
}

.people-info span {
    position: unset;
    font-family: 'Qanelas', sans-serif;
    font-weight: 600;
    font-size: calc(0.56vw + 9.2px);
    /*20px 11px*/
    line-height: 100%;
    color: var(--gray);
}

.people-info span {
    font-family: 'Qanelas', sans-serif;
    font-weight: 500;
    font-size: calc(0.31vw + 9px);
    /*15px 10px*/
    line-height: 20px;
    color: var(--lightyellow);
}

.people-raitings {
    width: 496px;
    height: 444px;
    background-color: var(--veryDarkBlue);
    border-radius: 10px;
}

.people-raitings .raiting {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.people-raitings .raiting .raiting-left {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.people-raitings .raiting .raiting-left h3 {
    font-family: 'Qanelas', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: var(--white);
}

.people-raitings .raiting .raiting-left h4 {
    font-family: 'Qanelas', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    color: var(--lightbluemiddle);
}

.people-raitings .raiting .raiting-left span {
    font-family: 'Qanelas', sans-serif;
    font-size: 14px;
    line-height: 100%;
    color: var(--lightyellow);
}

.people-raitings .raiting .raiting-right span {
    font-family: 'Qanelas', sans-serif;
    font-size: 14px;
    line-height: 100%;
    color: var(--lightyellow);
}

/* popular-faces-wrapper end */

/*news-wrapper start*/
.news-wrapper {
    padding: calc(1.25vw + 6px);
    /*30px 10px*/
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    margin-top: 60px;
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;

}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

/* subsciption-notifications start */
.subscription-notifications {
    margin: calc(1.25vw + 6px);
    /*30px 10px*/
    background-image: url('https://www.goha.ru/s/A:DH/M6/jPPkGqawjq.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 548px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.subscription-notifications img {
    width: 136px;
    height: 31px;
}

.subscription-notifications h2 {
    font-family: 'Qanelas', sans-serif;
    font-weight: 900;
    font-size: calc(1.56vw + 20px);
    line-height: 100%;
    text-align: center;
}

.subscription-notifications p {
    max-width: 706px;
    font-family: 'Qanelas', sans-serif;
    font-weight: 500;
    font-size: calc(0.43vw + 13.6px);
    line-height: 140%;
    color: var(--white);
}

.subscription-notifications form {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.subscription-notifications form input {
    width: 425px;
    height: 71px;
    border-radius: 10px;
    padding: 15px;
    outline: none;

    font-family: 'Qanelas', sans-serif;
    font-size: 17px;
    line-height: 167%;
}

.subscription-notifications form button {
    width: 182px;
    height: 71px;
    border-radius: 10px;
    background-color: var(--lightyellow);
    cursor: pointer;
    outline: none;
    border: none;
    font-family: 'Qanelas', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 167%;
}

@media (max-width:768px) {
    .subscription-notifications form {
        flex-wrap: wrap;
    }

    .subscription-notifications form label {
        flex-wrap: wrap;
    }

    .subscription-notifications form button {
        width: 100%;
    }

    .subscription-notifications form input {
        width: 100%;
    }
}

.subscription-notifications .checking-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.subscription-notifications #checkbox {
    width: 17px;
    height: 17px;
    accent-color: var(--lightyellow);
    cursor: pointer;
}

.subscription-notifications span {
    font-family: 'Qanelas', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    text-align: center;
    color: var(--white);
}

.subscription-notifications .checking-area span #privacy {
    font-family: 'Qanelas', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: var(--lightyellow);
}
/* subsciption-notifications end */


/* footer start  */
footer {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer img {
    width: 261px;
    height: 35px;
    cursor: pointer;
}

footer ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

footer ul li a {
    font-family: 'Qanelas', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 100%;
    color: var(--white);
}
footer span {
    font-family: 'Qanelas', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 119%;
    text-align: center;
    color: var(--gray);
}

footer a {
    font-family: 'Qanelas', sans-serif;
    font-size: 15px;
    line-height: 119%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: gray;
}
/* footer end */